/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    transition: .6s;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* common css end */

/* navbar */
nav{
    background-color: darkslategray;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav ul li a, nav ul li button{
    color:#fff;
    display: block;
    padding: 10px 15px;
    margin: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
}
nav ul li button {
    cursor: pointer;
    background: none;
}
#sidebar{
    left: 0;
    top: 0;
    background-color:#DDD2C9;
    position: fixed;
    width: 250px;
    margin-left: -250px;
    height: 100%;
    transition: .5s;
}
#sidebar.show{
    margin-left: 0px;
}
#sidebar ul li a{
    color:black;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    transition: .6s;
}
#sidebar ul li a:hover{
    background-color:dimgray;
}
#sidebar #sidebar_toggler{
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: 2px double black;
    background: darkslategray;
    cursor: pointer;
    position: absolute;
    left: 100%;
    z-index: 999;
}
#search-box{
    position: fixed;
    inset:0;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) skew(10deg) rotate(40deg);
    transform-origin: right;
    transition: .6s;
}
#search-box.show{
    transform: scale(1) skew(0) rotate(0);
}
#search-close{
    position: absolute;
    padding: 20px;
    top: 50px;
    right:50px;
    cursor: pointer;
}
#colorflipper{
    position: absolute;
    left: 50%;
    top: 50%;
    background:#CD7676;
    color:#fff;
    font-size: 20px;
    padding: 15px 20px; 
    border: 5px double #333;
    cursor: pointer;
}
